In [ ]:
Peer Review Assignment - Data Engineer - ETL

In [ ]:
Estimated time needed: 20 minutes

In [ ]:
Objectives
In this final part you will:

Run the ETL process
Extract bank and market cap data from the JSON file bank_market_cap.json
Transform the market cap currency using the exchange rate data
Load the transformed data into a seperate CSV

In [ ]:
For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your 
lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

In [ ]:
Imports
Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

In [ ]:
As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-06-11 16:51:38--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-06-11 16:51:38 (24.5 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2023-06-11 16:51:39--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-06-11 16:51:39 (11.3 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2023-06-11 16:51:39--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-06-11 16:51:39 (6.11 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

In [ ]:
Extract

In [ ]:
JSON Extract Function
This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [ ]:
Extract Function

Define the extract function that finds JSON file bank_market_cap_1.json and calls the function created above to 
extract data from them. Store the data in a pandas dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [8]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    #process all json files
    for jsonfile in ["bank_market_cap_1.json", "bank_market_cap_2.json"]:#glob.glob("*.json"):
        print(jsonfile)
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    return extracted_data

In [ ]:
Question 1 Load the file exchange_rates.csv as a dataframe and find the exchange rate for British pounds with the symbol GBP, 
store it in the variable exchange_rate, you will be asked for the number. Hint: set the parameter index_col to 0.

In [9]:
# Write your code here
df = pd.read_csv(r'exchange_rates.csv')
df=pd.DataFrame(df)
#df
exchange_rate=df.loc[9, 'Rates']
print(exchange_rate) # British pounds with the symbol GBP
print(df)

0.7323984208000001
   Unnamed: 0         Rates
0         AUD      1.297088
1         BGN      1.608653
2         BRL      5.409196
3         CAD      1.271426
4         CHF      0.886083
5         CNY      6.483139
6         CZK     21.510117
7         DKK      6.119757
8         EUR      0.822504
9         GBP      0.732398
10        HKD      7.752509
11        HRK      6.222652
12        HUF    294.135549
13        IDR  14097.902616
14        ILS      3.281132
15        INR     73.011186
16        ISK    129.133081
17        JPY    103.791742
18        KRW   1105.839776
19        MXN     19.932966
20        MYR      4.043017
21        NOK      8.497121
22        NZD      1.393733
23        PHP     48.070406
24        PLN      3.732933
25        RON      4.008883
26        RUB     74.930827
27        SEK      8.292071
28        SGD      1.328261
29        THB     30.009870
30        TRY      7.418572
31        USD      1.000000
32        ZAR     15.118441

In [ ]:
Transform

Using exchange_rate and the exchange_rates.csv file find the exchange rate of USD to GBP. Write a transform function that

Changes the Market Cap (US$ Billion) column from USD to GBP
Rounds the Market Cap (US$ Billion)` column to 3 decimal places
Rename Market Cap (US$ Billion) to Market Cap (GBP$ Billion)

In [11]:
def transform(data):
    # Write your code here
    data['Market Cap (US$ Billion)'] = round(data['Market Cap (US$ Billion)'] * exchange_rate,3)
    data.rename(columns={"Market Cap (US$ Billion)":"Market Cap (GBP$ Billion)"}, inplace = True)
    return data

In [ ]:
Load
Create a function that takes a dataframe and load it to a csv named bank_market_cap_gbp.csv. Make sure to set index to False.

In [12]:
targetfile="bank_market_cap_gbp.csv"
def load(targetfile,data_to_load):
    # Write your code here
    data_to_load.to_csv(targetfile, index=False)

In [ ]:
Logging Function

In [ ]:
Write the logging function log to log your data:

In [13]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [ ]:
Running the ETL Process

In [ ]:
Log the process accordingly using the following "ETL Job Started" and "Extract phase Started"

In [14]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

In [ ]:
Extract

In [ ]:
Question 2 Use the function extract, and print the first 5 rows, take a screen shot:

In [15]:
# Call the function here
extracted_data = extract()
# Print the rows here
extracted_data.head()

bank_market_cap_1.json
bank_market_cap_2.json

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [ ]:
Log the data as "Extract phase Ended"

In [16]:
# Write your code here
log("Extract phase Ended")

In [ ]:
Transform

In [ ]:
Log the following "Transform phase Started"

In [17]:
# Write your code here
log("Transform phase Started")

In [ ]:
Question 3 Use the function transform and print the first 5 rows of the output, take a screen shot:

In [18]:
# Call the function here
transformed_data = transform(extracted_data)
# Print the first 5 rows here
transformed_data.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [ ]:
Log your data "Transform phase Ended"

In [19]:
# Write your code here
log("Transform phase Ended")

In [ ]:
Load

In [ ]:
Log the following "Load phase Started".

In [20]:
# Write your code here
log("Load phase Started")

In [ ]:
Call the load function

In [21]:
# Write your code here
load(targetfile,transformed_data)

In [ ]:
Log the following "Load phase Ended".

In [22]:
# Write your code here
log("Load phase Ended")

In [ ]:
Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

Other Contributors

Rav Ahuja

Change Log

                                                            Date (YYYY-MM-DD)	Version	Changed By	Change Description
                                                            2020-11-25	0.1	Ramesh Sannareddy	Created initial version of the lab
        
Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the MIT License.